<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>start page</title>
  	{% load static %}
    <script src="{% static '/jquery-3.5.0.min.js' %}"></script>
</head>
<body>
    <h1> eta validation</h1>
    <form id="main-form" method="post">
        <p>
            <label for="email-input">email validation: </label>
            <input class="form-for-valid" type="text" id="email-input" name="email"/>
        </p>
        <p>
            <label for="phone-input">phone number validation: </label>
            <input class="form-for-valid" type="text" id="phone-input" name="phone"/>
        </p>
        <p>
            <label for="first-name-input">first name validation: </label>
            <input class="form-for-valid" type="text" id="first-name-input" name="fname"/>
        </p>
        <p>
            <label for="last-name-input">last name validation: </label>
            <input class="form-for-valid" type="text" id="last-name-input" name="lname"/>
        </p>
        <p>
            <input type="submit" id="submit-button" value="submit" />
        </p>
    </form>
</body>
    <script src="{% static '/main.js' %}"></script>
</html>
